<div class="d-flex justify-content-center">
  <img src="{{profile.image}}" class="img-thumbnail" alt="...">
  <ul style="list-style-type:none">
    <li><h1>{{profile.name}}</h1></li>
    <li><h2>{{profile.email}}</h2></li>
    <li><a class="btn btn-primary" href="/users/{{profile.id}}/edit">編輯</a></li>
  </ul>
</div>
